:root {
    --theme-text-color: white;
    --theme-aside-bgcolor: #212121;
    --theme-main-bgcolor: black;
}

html {
    font-family: sans-serif;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
    color: var(--theme-text-color);

    background-color: var(--theme-aside-bgcolor);
}

aside {
    background-color: var(--theme-aside-bgcolor);
    border-right: 1px solid #3a3a3a;
    display: none;
}

.chatList {
    display: flex;
    flex-direction: column;
}

.chatInf {
    padding: 30px;
    border-radius: 20px;
}

.chatInf:hover {
    background-color: gray;
    cursor: pointer;
}

main {
    background-color: var(--theme-main-bgcolor);
    display: none;
    grid-auto-rows: auto 1fr;
}

.titleChat {
    padding: 20px;
    background-color: var(--theme-aside-bgcolor);

}

.chatContainer {
    border: 1px solid var(--theme-text-color);
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    padding-bottom: 20px;
    gap: 10px;
}

.chat {
    width: 700px;
    border: 1px solid white;
    border-bottom: 1px solid #3a3a3a;
}

.sendMessage {
    background-color: var(--theme-aside-bgcolor);
    border-radius: 50px;
    padding-left: 40px;
}

.chatInput {
    border: none;
    padding: 20px;
    background-color: var(--theme-aside-bgcolor);
    color: var(--theme-text-color);
    font-size: 1rem;
}

.chatInput:focus {
    outline: none;
}

.sendMessageButton {
    border-radius: 100px;
}