:root {
    --theme-text-color: white;
    --theme-aside-bgcolor: #212121;
    --theme-main-bgcolor: black;
}

html {
    font-family: sans-serif;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
    color: var(--theme-text-color);

    background-color: var(--theme-aside-bgcolor);
}

aside {
    background-color: var(--theme-aside-bgcolor);
    border-right: 1px solid #3a3a3a;
    display: block;
    height: 100vh;
    overflow-y: auto;
}

.aside-header {
    margin-top: 5px;
    padding: 10px 10px 5px 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.menuButton {
    background-color: transparent;
    border: none;
    outline: none;
}

#asideSearchForm {
    background-color: #2c2c2c;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
}

.searchInput {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 1rem;
    color: var(--theme-text-color);
}

.chatList {
    display: flex;
    flex-direction: column;
}

.chatInf {
    padding: 30px;
    border-radius: 20px;
}

.chatInf:hover {
    background-color: gray;
    cursor: pointer;
}

main {
    background-color: var(--theme-main-bgcolor);
    display: grid;
    grid-auto-rows: auto 1fr;
}

.titleChat {
    padding: 20px;
    background-color: var(--theme-aside-bgcolor);

}

.chatContainer {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    padding-bottom: 20px;
    gap: 10px;
}

.chat {
    width: 700px;
    border-bottom: 1px solid #3a3a3a;
}

.sendMessage {
    border-radius: 50px;
}

#sendMessageForm {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.chatInput {
    border-radius: 50px;
    border: none;
    padding: 15px;
    background-color: var(--theme-aside-bgcolor);
    color: var(--theme-text-color);
    font-size: 1rem;
}

.chatInput:focus {
    outline: none;
}

.sendMessageButton {
    border-radius: 100px;
    border: none;
    padding: 15px;
    background-color: var(--theme-aside-bgcolor);
}

.sendMessageButton:hover {
    background-color: mediumslateblue;
    cursor: pointer;
}

@media (max-width: 1200px) {
    body {
        grid-template-columns: auto auto;
    }
    .chat {
        width: 500px;
    }
}

@media (max-width: 800px) {

}